/* ======================   Code Editor & Output ========================= */
.code-teacher-container{
    background-color: #fffcd4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #ca8e76;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.beta-container{
    background-color: #fffeef;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #97baff;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 8px;
}

.challenge-text{
    width: 100%;
}

.editor-panel{
    width: 100%;
}


.editor-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 400px;
    min-height: 400px; /* Set to match the height of the output container */
    height: 100%; /* Ensure the container grows to match the output container */
    overflow: hidden; /* Remove scroll bars */
}

#editor-container, #output-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.container-header {
    font-family: 'OpenDyslexic', 'Comic Sans MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
    background-color: #97BAFF;
    color: black;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.CodeMirror {
    font-family: 'OpenDyslexic', 'Comic Sans MS', sans-serif;
    font-size: 16px;
    border: 2px solid #97BAFF;
    border-radius: 0 0 10px 10px;
    height: 100%;
    min-height: 400px; /* Set this to match the editor-container and output container */
    overflow: hidden; /* Remove scroll bars */
}

#output-container {
    border: 2px solid #97BAFF;
    border-radius: 10px;
    overflow: auto;
    font-family: 'OpenDyslexic', 'Comic Sans MS', sans-serif;
    font-size: 16px;
    background-color: #001f3f;
    height: 100%;
    min-height: 400px; /* Adjust this height to be consistent */
}


#output {
    padding: 10px;
    flex-grow: 1;
    font-size: 16px;
    background-color: #001f3f;
    color: #ffffff;
	overflow-y: auto;
    white-space: pre-wrap;
}

#output-section {
    position: relative;
    margin-top: 20px;
}

/* ======================   Button Controls ========================= */
#editor-controls {
    margin-top: 10px;
}
#run-code {
	font-size: 20px;
    margin-top: 10px;
    background-color: #FD6428;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
#run-code:hover {
    background-color: #e05520;
}

#save-code {
	font-size: 20px;
    margin-top: 10px;
    background-color: #a53002;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
#save-code:hover {
    background-color: #e04304;
}

#help-button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: #ffbba1;
    color: black;
}
#help-button:hover {
    background-color: #fc956d;
}

#hint-button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: #ffbba1;
    color: black;
}
#hint-button:hover {
    background-color: #fc956d;
}

#reset-code {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: #ffbba1;
    color: black;
    font-style: italic;
}
#reset-code:hover {
    background-color: #fc956d;
}




/* ======================   Helper Styling ========================= */

#helper-character {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 150px;
    display: none;
    z-index: 1000;
}
#speech-bubble {
    position: absolute;
    bottom: 160px;
    right: 130px;
    width: 230px;
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #97BAFF;
    border-radius: 10px;
    color: #000000;
    display: none;
    z-index: 1001;
    font-family: 'OpenDyslexic', 'Comic Sans MS', sans-serif;
    font-size: 16px;
}
#speech-bubble:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #ffffff;
    bottom: -15px;
    right: 30px;
}


/* ======================   Report Table Styling ========================= */


#teacher-report-table_wrapper {
    display: block !important; /* Override the display: flex; with display: block */
    width: 100%; /* Ensure the wrapper takes full width */
    padding: 20px; /* Add padding to create space around the table */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.teacher-report-table {
    width: 100% !important;
    border-collapse: collapse;
    border: 2px solid #ca8e76;
    font-family: "Comic Sans MS", cursive, sans-serif;
    display: table !important;
}
.teacher-report-table th {
    background-color: #bccef1;
    border: 2px solid #ca8e76;
    padding: 10px;
    color: #000000;
    font-size: 120%;
    text-align: center;
    display: table-cell !important;
}
.teacher-report-table td {
    border: 2px solid #ca8e76;
    padding: 10px;
    color: #302f2b;
    text-align: center; 
    display: table-cell !important;
}
.teacher-report-table tr:nth-child(even) {
    background-color: #fffcd4;
}
.teacher-report-table tr:nth-child(odd) {
    background-color: #ffffff;
}

/* Style Completed Column - Green Background */
#teacher-report-table td.completed-yes {
    background-color: #cbf7dc !important; /* Green color for completed cells */
    display: table-cell !important;
}

/* Button styling for DataTables */
.dt-buttons {
    margin-bottom: 10px; /* Add margin to create space between buttons and table */
    display: block !important; /* Ensure buttons are not using flex */
}

/* Style Filter Columns Button */
.dt-button {
    padding: 5px 10px;
    background-color: #ca8e76;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.dt-button:hover {
    background-color: #b16e5a;
}
